<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>-->

<!-- Modal -->
 <div class="modal bs-example-modal-lg" id="admin_user_popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Form -->
    </div>
  </div>
</div>

<!--<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Home / Courses</h2>
      

      </div>

               <%= render partial: 'layouts/common/breadcrumbs' %>


<div class="container-fluid" style="background-color: white;"><br>

<h1>Create Courses</h1>


<%= form_for @course do |f| %>
<%#= form_with scope: :courses, url: courses_path, local: true do |f| %>
  <div class="form-group">

   <%= f.label :course_name %>
   <%= f.text_field :name %>
</div>
  <div class="form-group">

     <%= f.label :course_Code %>
     <%= f.text_field :code %>
</div>
  <div class="form-group">

<%= f.label :description %>
<%= f.text_field :description %>
</div>
  <div class="form-group">

    <%= f.label :number_of_sem %>
    <%= f.text_field :number_sem %>
  </div>
 <div class="form-group">

    <%= f.label :course_status %>
   <%= f.text_field :status %>
</div>
<div class="form-group">

<%= f.submit "submit" , :class =>"waves-effect waves-light btn" %>
</div>
 <% end %>
</div>
</main>-->